@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

@import './spreadsheet/header.scss';
@import './spreadsheet/formula.scss';
@import './spreadsheet/columns.scss';
@import './spreadsheet/table.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
}